<div class="well">
	Спасибо! Ваше выступление поступило на утверждение ответственным администратором из команды «Людей вне профессии». 
	Если вы захотите внести исправления, перейдите снова по той же ссылке из письма. Вы можете вносить изменения, пока выступление не утверждено, далее указанные данные фиксируются. 
</div>